<!--<!DOCTYPE html>-->
<!--{% load static %}-->
<!--<html>-->
<!--    <head>-->
<!--        <meta charset="utf-8">-->
<!--        <link rel="stylesheet" href="{% static "css/styles.css" %}" />-->
<!--        <title>Блочная верстка в HTML5</title>-->
<!--    </head>-->
<!--    <body>-->
<!--        <div id="header">-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td>Турнир</td> <td>Компания</td> <td>Цена</td>-->
<!--            </tr>-->
<!--        </table>-->
<!--        </div>-->
<!--        <div id="previous">-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td>       <img class="animate2" src="{% static "images/button-left.png" %}" />       </td>-->
<!--                <td>       <img class="animate1" src="{% static "images/penege1.png" %}" />       </td>-->
<!--                <td>       <img class="animate1" src="{% static "images/penege1.png" %}" />       </td>-->
<!--                <td>       <img class="animate1" src="{% static "images/penege1.png" %}" />       </td>-->
<!--                <td>       <img class="animate2" src="{% static "images/button-right.png" %}" />       </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td> </td>-->
<!--                <td>Турнир</td>-->
<!--                <td>Турнир</td>-->
<!--                <td>Турнир</td>-->
<!--                <td> </td>-->
<!--            </tr>-->
<!--        </table>-->
<!--        </div>-->
<!--        <div id="continuous">-->
<!--       <table>-->
<!--            <tr>-->
<!--                <td>       <img class="animate2" src="{% static "images/button-left.png" %}" />       </td>-->
<!--                <td>       <img class="animate1" src="{% static "images/penege1.png" %}" />       </td>-->
<!--                <td>       <img class="animate1" src="{% static "images/penege1.png" %}" />       </td>-->
<!--                <td>       <img class="animate1" src="{% static "images/penege1.png" %}" />       </td>-->
<!--                <td>       <img class="animate2" src="{% static "images/button-right.png" %}" />       </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td> </td>-->
<!--                <td>Турнир</td>-->
<!--                <td>Турнир</td>-->
<!--                <td>Турнир</td>-->
<!--                <td> </td>-->
<!--            </tr>-->
<!--        </table>-->
<!--        </div>-->

<!--        <div id="next">-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td>       <img class="animate2" src="{% static "images/button-left.png" %}" />       </td>-->
<!--                <td>       <img class="animate1" src="{% static "images/penege1.png" %}" />       </td>-->
<!--                <td>       <img class="animate1" src="{% static "images/penege1.png" %}" />       </td>-->
<!--                <td>       <img class="animate1" src="{% static "images/penege1.png" %}" />       </td>-->
<!--                <td>       <img class="animate2" src="{% static "images/button-right.png" %}" />       </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td> </td>-->
<!--                <td>Турнир</td>-->
<!--                <td>Турнир</td>-->
<!--                <td>Турнир</td>-->
<!--                <td> </td>-->
<!--            </tr>-->
<!--        </table>-->
<!--        </div>-->
<!--        <div id="footer">Футер</div>-->
<!--    </body>-->
<!--</html>-->



<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Кизяки 3</title>

    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- animate css link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Coiny&display=swap" rel="stylesheet">
</head>

<body>

    <div id="fake_header">
    </div>

    <div id="header">
        <a href="http://127.0.0.1:8000/"><img id = "drd" class="animate2" width=300px height=150px
                                              src="{% static "images/drd.png" %}" /></a>
                Компания
                Цена
    </div>
    <div id = "tour1">
    <script src= "https://player.twitch.tv/js/embed/v1.js"></script>
    <div id="<player div ID>"></div>
    <script type="text/javascript">
      var options = {
        width: 720,
        height: 480,
        // channel: "dreadztv",
        video: "1853683436",
        autoplay: false,
        allowFullscreen: true,

        // collection: "<collection ID>",
        // only needed if your site is also embedded on embed.example.com and othersite.example.com
        // parent: ["embed.example.com", "othersite.example.com"]
      };
      var player = new Twitch.Player("<player div ID>", options);
      player.setVolume(0.5);
    </script>
    </div>
</body>

</html>