<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "css/styles.css" %}" />
        <title>Блочная верстка в HTML5</title>
    </head>
    <body>
        <div id="header">
        <table>
            <tr>
                <td>Турнир</td> <td>Компания</td> <td>Цена</td>
            </tr>
        </table>
        </div>
        <div id="previous">
        <table>
            <tr>
                <td>       <img class="animate2" src="{% static "images/button-left.png" %}" />       </td>
                <td>       <img class="animate1" src="{% static "images/penege1.png" %}" />       </td>
                <td>       <img class="animate1" src="{% static "images/penege1.png" %}" />       </td>
                <td>       <img class="animate1" src="{% static "images/penege1.png" %}" />       </td>
                <td>       <img class="animate2" src="{% static "images/button-right.png" %}" />       </td>
            </tr>
            <tr>
                <td> </td>
                <td>Турнир</td>
                <td>Турнир</td>
                <td>Турнир</td>
                <td> </td>
            </tr>
        </table>
        </div>
        <div id="continuous">
       <table>
            <tr>
                <td>       <img class="animate2" src="{% static "images/button-left.png" %}" />       </td>
                <td>       <img class="animate1" src="{% static "images/penege1.png" %}" />       </td>
                <td>       <img class="animate1" src="{% static "images/penege1.png" %}" />       </td>
                <td>       <img class="animate1" src="{% static "images/penege1.png" %}" />       </td>
                <td>       <img class="animate2" src="{% static "images/button-right.png" %}" />       </td>
            </tr>
            <tr>
                <td> </td>
                <td>Турнир</td>
                <td>Турнир</td>
                <td>Турнир</td>
                <td> </td>
            </tr>
        </table>
        </div>

        <div id="next">
        <table>
            <tr>
                <td>       <img class="animate2" src="{% static "images/button-left.png" %}" />       </td>
                <td>       <img class="animate1" src="{% static "images/penege1.png" %}" />       </td>
                <td>       <img class="animate1" src="{% static "images/penege1.png" %}" />       </td>
                <td>       <img class="animate1" src="{% static "images/penege1.png" %}" />       </td>
                <td>       <img class="animate2" src="{% static "images/button-right.png" %}" />       </td>
            </tr>
            <tr>
                <td> </td>
                <td>Турнир</td>
                <td>Турнир</td>
                <td>Турнир</td>
                <td> </td>
            </tr>
        </table>
        </div>
        <div id="footer">Футер</div>
    </body>
</html>