 body {
    background: url(../images/background.jpg) no-repeat center center fixed;
     background-size: cover;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
     width : 100%;
     height: 100%;
}

div{
    background: rgba(41, 90, 253, 0.0);
    width : 60%;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid black;
    font-size: 20px;
    height: 18em;

 }

table{
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    text-align:center;
    border-spacing: 4em
 }

td{
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin: auto;
    text-align:center;
 }

tr{
    margin: auto;
    text-align:center;
 }

img {
    border: 0px solid #000000;
    padding-top: 1.5em;
}

#carouselExampleDark, #carouselExampleDark2,#carouselExampleDark3, #header, #footer {
    background: rgba(41, 90, 253, 0.7);
    border: 1px solid black;
}

 #fake_header{
    height: 5em;
 }

 #header{
    height: 5em;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
 }
 #footer{
     height: 5em;
 }



img.animate1{
    —moz-transition: all 1s ease;
    —webkit-transition: all 1s ease;
    —o-transition: all 1s ease;
    transition: all 1s ease;
}

img.animate1:hover {
    filter: alpha (Opacity=85);/* прозрачность для IE */
    opacity: 0.85;/* прозрачность для других браузеров */
    —moz-transform: scale(1.1); /* эффект трансформации для Firefox до версии 16.0 */
    —webkit-transform: scale(1.1); /* эффект трансформации для Chrome до версии 26.0, Safari, Android и iOS */
    —o-transform: scale(1.1); /* эффект трансформации для Opera до версии 12.10 */
    —ms-transform: scale(1.1); /* эффект трансформации для IE 9.0 */
    transform: scale(1.1); /* эффект трансформации для других браузеров */
}

img.animate2{
    —moz-transition: all 1s ease;
    —webkit-transition: all 1s ease;
    —o-transition: all 1s ease;
    transition: all 1s ease;
}

img.animate2:hover {
    filter: alpha (Opacity=85);/* прозрачность для IE */
    opacity: 0.85;/* прозрачность для других браузеров */
    —moz-transform: scale(1.0); /* эффект трансформации для Firefox до версии 16.0 */
    —webkit-transform: scale(1.0); /* эффект трансформации для Chrome до версии 26.0, Safari, Android и iOS */
    —o-transform: scale(1.0); /* эффект трансформации для Opera до версии 12.10 */
    —ms-transform: scale(1.0); /* эффект трансформации для IE 9.0 */
    transform: scale(1.0); /* эффект трансформации для других браузеров */
}


.carousel-item {
    transition: transform 1s ease, opacity .5s ease-out
}

.carousel-inner .carousel-caption{
    padding-top: 100px;
    padding-bottom: 100px;
}
.carousel-inner .carousel-caption h1{
    font-size: 52px;
}

.carousel-inner .carousel-caption .button{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    border: 2px solid #3489bd;
    text-decoration: none;
    background-color: #3489bd;
    color: #fff;
}


